name: Deployment

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
          contents: read
          packages: write 
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: 18
                  registry-url: https://registry.npmjs.org/

            - name: Install Dependencies
              run: npm install

            - name: Property-Map
              run: npm run setter

            - name: Check
              run: npm run check
              
            - name: Test
              run: npm run test

            - name: Build
              run: npm run build

            - name: Deploy
              run: npm publish
              env:
                NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
